<html lang="en">

  <head>
    <title> Reset Password </title>
    <style>
      .main{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        background-color: rgb(22, 36, 58);
        background-size: cover;
        background-position-y: center;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container{
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid rgb(96, 96, 129);
        box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
        border-radius: 5px;
        background-color: rgba(18, 18, 51, 0.623);
    }
    .form{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .inputStyle {
        width: 90%;
        margin: 5%;
        padding-top: 3%;
        padding-bottom: 3%;
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 2px solid #f9bd4f;
        font-weight: 600;
        font-size: 0.8rem;
        color: white;
    }

    #warningNewPass{
        color: #f9bd4f;
        font-size: 1rem;
        margin: 5%;
    }
    .button{
        width: 90%;
        margin: 5%;
        padding: 2%;
        background-color: #f9bd4f;
        border: none;
        border-radius: 2px;
        color: white;
        font-size: 1rem;
        font-weight: 600;
    }
    </style>

    <script>
        window.addEventListener('load', () => {
            document.getElementById("newPass_form").onsubmit = formHandeler
        })
       function formHandeler(obj) {
        obj.preventDefault();

        let newPassData = getnewPassTextInputs();
        let validnewPassInputs = validatenewPassTextFields(newPassData)
        if (validnewPassInputs) {
            sendrequst(newPassData)
        }
    }
    function getnewPassTextInputs() {
        let Password = document.getElementById("newPassword").value
        let verifyPassword = document.getElementById("verfiyNewPass").value

        if (Password === verifyPassword) {
            const newPassData = {
                Password
            }
            return newPassData
        }else {
           document.getElementById("warningNewPass").innerText = "Password Not matched"
        }
    }
    function validatenewPassTextFields(newPassdata) {
        let warning_newPass = document.getElementById("warningNewPass")
        let {Password} = newPassdata
        if (Password.length == 0) {
            warning_newPass.innerText = 'THE Password IS REQUIRED'
        } else {
            return true
        }
    }
    async function sendrequst(newPassData) {
        // https://alhendawy-restaurant.herokuapp.com/
        const urlSearchParams = new URLSearchParams(window.location.search);
        const params = Object.fromEntries(urlSearchParams.entries());
        newPassData ={...newPassData ,...params}

        let response = await fetch("http://localhost:7000/ElhendawyRestaurant/newPassword", {
            method: "POST",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            credentials: 'same-origin',
            body: JSON.stringify(newPassData)
        });
        if(response.status === 200){
            document.getElementById("warningNewPass").innerText = "Reset Successfull"
            setTimeout(function () { window.location.replace('http://localhost:3000/account/login') }, 3000);
        }
        if(response.status === 404){
            document.getElementById("warningNewPass").innerText = " NOT FOUND "
            setTimeout(function () { window.location.replace('http://localhost:3000/account/login') }, 3000);
        } 
    
    }

  </script>
  </head>

  <body>
    <div class="main">
      <div class="container" id="newPass-div">
        <form class="form" id="newPass_form" onsubmit='formHandeler()'>
          <input
            class="inputStyle"
            id="newPassword"
            type="password"
            minlength="6"
            placeholder="New Password"
            required
          />
          <input
            class="inputStyle"
            id="verfiyNewPass"
            type="password"
            minlength="6"
            placeholder="Confirm Password"
            required
          />
          <label id="warningNewPass"></label>
          <input id="newPass_btn" type="submit" class="button" value="Reset" />
        </form>
      </div>
    </div>
  </body>



</html>